.box {
    border-bottom:  0.5px solid grey;
    padding: 0 20px;
}

.arrow {
    transition: transform 0.3s;
  }
  
.arrow.flip {
    transform: rotate(180deg);
}

.box.active {
    background-color:aliceblue;
}

.item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.item:hover {
    cursor: pointer;
}

